{% extends 'base.html' %}

{% if user.is_authenticated %}

{% block content %}
<div>
    arkadaşlık yeri

    <form id="send-friend-request-form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" id="send-friend-request-form-username"
            class="border-black rounded px-2 py-1 shadow focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent">
        <input type="submit" value="add friend"
            class="border-black rounded px-2 py-1 shadow focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent hover:bg-blue-600 hover:text-white">
    </form>

    <div class="border-black rounded grid grid-cols-3">
        <div class="border-black rounded flex flex-col justify-center items-center">
            <h2>friends</h2>
            {% for friend in friends %}
            <div class="flex justify-between items-center bg-zinc-100 rounded px-2 py-1 shadow border">
                <div class="flex justify-center items-center">
                    <a href="/profile/{{ friend.username }}" style="text-decoration: underline;">{{ friend.username }}</a>
                    <!-- {{ friend.username }} -->
                </div>
                <div class="flex justify-center items-center">
                    <button class="border-black rounded flex justify-center items-center bg-blue-600 text-white px-1">
                        chat
                    </button>
                    <button class="remove-friend border-black rounded flex justify-center items-center bg-red-600 text-white px-1" data-username="{{ friend.username }}">
                        remove
                    </button>
                </div>
                <div class="friendStatusCircle w-4 h-4 rounded-full bg-yellow-500" data-username="{{ friend.username }}"></div>
            </div>
            {% endfor %}
            <script>
                {
                    const removeFriendButtons = document.querySelectorAll('.remove-friend');
                    removeFriendButtons.forEach((button) => {
                        button.addEventListener('click', async function onRemoveFriendClick(event) {
                            const username = button.getAttribute('data-username');
                            const response = await fetchAPI(`/api/v1/friend/?username=${username}&action=remove`, {
                                method: 'PATCH',
                            });
                            const data = await response.json();
                            if (data.status) {
                                alert(data.message);
                                setPage();
                            } else {
                                alert(data.message);
                            }
                        });
                    });
                }
            </script>
        </div>
        <div class="border-black rounded flex flex-col justify-center items-center">
            <h2>friend requests</h2>
            {% for friendRequest in friendRequests %}
            <div class="flex justify-between items-center bg-zinc-100 rounded px-2 py-1 shadow border">
                <div class="flex justify-center items-center">
                    {{ friendRequest.username }}
                </div>
                <div>
                    <button
                        class="accept-friend-request-button border-black rounded flex justify-center items-center bg-blue-600 text-white px-1"
                        data-username="{{ friendRequest.username }}">
                        accept
                    </button>
                </div>
                <div>
                    <button
                        class="reject-friend-request-button border-black rounded flex justify-center items-center bg-red-600 text-white px-1"
                        data-username="{{ friendRequest.username }}">
                        reject
                    </button>
                </div>
            </div>
            {% endfor %}
            <script>
                {
                    const rejectFriendRequestButtons = document.querySelectorAll('.reject-friend-request-button');
                    rejectFriendRequestButtons.forEach((button) => {
                        button.addEventListener('click', async function onRejectFriendRequestClick(event) {
                            const username = button.getAttribute('data-username');
                            const response = await fetchAPI(`/api/v1/friend/?username=${username}&action=reject`, {
                                method: 'PATCH',
                            });
                            const data = await response.json();
                            if (data.status) {
                                alert(data.message);
                                setPage();
                            } else {
                                alert(data.message);
                            }
                        });
                    });

                    const acceptFriendRequestButtons = document.querySelectorAll('.accept-friend-request-button');
                    acceptFriendRequestButtons.forEach((button) => {
                        button.addEventListener('click', async function onAcceptFriendRequestClick(event) {
                            const username = button.getAttribute('data-username');
                            const response = await fetchAPI(`/api/v1/friend/?username=${username}&action=accept`, {
                                method: 'PATCH',
                            });
                            const data = await response.json();
                            if (data.status) {
                                alert(data.message);
                                setPage();
                            } else {
                                alert(data.message);
                            }
                        });
                    });
                }
            </script>
        </div>
        <div class="border-black rounded flex flex-col justify-center items-center">
            <h2>sent friend requests</h2>
            {% for sentFriendRequest in sentFriendRequests %}
            <div class="flex justify-between items-center bg-zinc-100 rounded px-2 py-1 shadow border">
                <div class="flex justify-center items-center">
                    {{ sentFriendRequest.username }}
                </div>
                <div class="flex justify-center items-center">
                    <button
                        class="cancel-friend-request-button border-black rounded flex justify-center items-center bg-red-600 text-white px-1"
                        data-username="{{ sentFriendRequest.username }}">
                        cancel
                    </button>
                </div>
            </div>
            {% endfor %}
            <script>
                {
                    const cancelFriendRequestButtons = document.querySelectorAll('.cancel-friend-request-button');
                    cancelFriendRequestButtons.forEach((button) => {
                        button.addEventListener('click', async function onCancelFriendRequestClick(event) {
                            const username = button.getAttribute('data-username');
                            const response = await fetchAPI(`/api/v1/friend/?username=${username}&action=cancel`, {
                                method: 'PATCH',
                            });
                            const data = await response.json();
                            if (data.status) {
                                alert(data.message);
                                setPage();
                            } else {
                                alert(data.message);
                            }
                        });
                    });
                }
            </script>
        </div>
    </div>

    <script>
        {
            const form = document.getElementById('send-friend-request-form');
            if (form) {
                form.addEventListener('submit', async function onSendFriendRequestSubmit(event) {
                    // Prevent the form from submitting
                    event.preventDefault();

                    const username = document.getElementById('send-friend-request-form-username').value;

                    const response = await fetchAPI('/api/v1/friend/', {
                        method: 'POST',
                        body: JSON.stringify({
                            username,
                        }),
                    });
                    const data = await response.json();
                    if (data.status) {
                        alert(data.message);
                        setPage();
                    } else {
                        alert(data.message);
                    }
                });
            }
        }
    </script>
</div>
{% endblock %}

{% endif %}