{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-12">
    <div class="bg-white border border-gray-300 rounded-lg shadow-lg p-8">
        <h1 class="text-3xl font-bold mb-6 text-gray-800 text-center mb-8">Leaderboard: Top {{ num_users }} Users</h1>

        <div class="grid grid-cols-3 gap-4 mb-8">
            {% for entry in leaderboard %}
            {% if forloop.counter == 1 %}
            <!-- First Place -->
            <div class="flex flex-col items-center col-span-3 lg:col-span-1">
                <div class="bg-yellow-400 p-4 rounded-lg shadow-lg mb-4 relative">
                    <span
                        class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-3xl font-bold text-white">🥇</span>
                    <img src="{{ entry.profile_picture_url }}" alt="Profile Picture"
                        class="rounded-full w-24 h-24 border-4 border-white">
                </div>
                <h2 class="text-2xl font-semibold text-blue-600 hover:underline"><a
                        href="/profile/{{ entry.user.username }}">{{ entry.user.username }}</a></h2>
                <p class="text-gray-700">Wins: <span class="font-bold">{{ entry.wins }}</span></p>
                <p class="text-gray-600 mt-1 text-center">{{ entry.bio }}</p>
            </div>
            {% elif forloop.counter == 2 %}
            <!-- Second Place -->
            <div class="flex flex-col items-center col-span-3 lg:col-span-1 lg:order-first">
                <div class="bg-gray-400 p-4 rounded-lg shadow-lg mb-4 relative">
                    <span
                        class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-3xl font-bold text-white">🥈</span>
                    <img src="{{ entry.profile_picture_url }}" alt="Profile Picture"
                        class="rounded-full w-20 h-20 border-4 border-white">
                </div>
                <h2 class="text-xl font-semibold text-blue-600 hover:underline"><a
                        href="/profile/{{ entry.user.username }}">{{ entry.user.username }}</a></h2>
                <p class="text-gray-700">Wins: <span class="font-bold">{{ entry.wins }}</span></p>
                <p class="text-gray-600 mt-1 text-center">{{ entry.bio }}</p>
            </div>
            {% elif forloop.counter == 3 %}
            <!-- Third Place -->
            <div class="flex flex-col items-center col-span-3 lg:col-span-1 lg:order-last">
                <div class="bg-orange-400 p-4 rounded-lg shadow-lg mb-4 relative">
                    <span
                        class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-3xl font-bold text-white">🥉</span>
                    <img src="{{ entry.profile_picture_url }}" alt="Profile Picture"
                        class="rounded-full w-20 h-20 border-4 border-white">
                </div>
                <h2 class="text-xl font-semibold text-blue-600 hover:underline"><a
                        href="/profile/{{ entry.user.username }}">{{ entry.user.username }}</a></h2>
                <p class="text-gray-700">Wins: <span class="font-bold">{{ entry.wins }}</span></p>
                <p class="text-gray-600 mt-1 text-center">{{ entry.bio }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Other Users -->
        <ul class="space-y-6">
            {% for entry in leaderboard %}
            {% if forloop.counter > 3 %}
            <li
                class="flex items-center p-4 bg-gray-50 rounded-lg hover:bg-gray-100 transition duration-200 ease-in-out">
                <img src="{{ entry.profile_picture_url }}" alt="Profile Picture"
                    class="rounded-full w-16 h-16 mr-6 border border-gray-300">
                <div>
                    <h2 class="text-xl font-semibold text-blue-600 hover:underline"><a
                            href="/profile/{{ entry.user.username }}">{{ entry.user.username }}</a></h2>
                    <p class="text-gray-700">Wins: <span class="font-bold">{{ entry.wins }}</span></p>
                    <p class="text-gray-600 mt-1">{{ entry.bio }}</p>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        {% if num_users == 0 %}
        <p class="text-center text-gray-500 mt-6">No users found with wins yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}