{% extends 'base.html' %}

{% if user.is_authenticated %}

{% block content %}
<style>
    .min-h-\[900px\] {
        min-height: 900px;
    }

    .bg-\[#f5f5f5\] {
        background-color: #f5f5f5;
    }

    .border-\[#e0e0e0\] {
        border-color: #e0e0e0;
    }
    
</style>
<div class="grid grid-cols-12 mt-12 h-full min-h-[900px]">
    <div class="col-span-3 bg-[#f5f5f5] border-r border-[#e0e0e0] flex flex-col justify-between items-center p-4">
        <div class="w-full bg-white border border-[#e0e0e0] rounded-md p-4 flex-1">
            {% for tournament in tournaments %}
            <a href="/tournament/{{ tournament.tournament_id }}"
                class="w-full bg-[#f5f5f5] hover:bg-[#e0e0e0] border-b border-[#e0e0e0] p-2 text-center flex">
                <p>{{ tournament.name }}</p>
                <button class="bg-[#f5f5f5] hover:bg-[#e0e0e0] border border-[#e0e0e0] p-1 rounded-md">Join</button>
            </a>
            {% endfor %}
        </div>
        <a href="/tournament/new" class="w-full bg-[#f5f5f5] hover:bg-[#e0e0e0] border-b border-[#e0e0e0] p-2 text-center">Create Tournament</a>
    </div>
    <div class="col-span-9 bg-[#f5f5f5] border-l border-[#e0e0e0] flex flex-col justify-between items-center p-4">
        {% if tournament %}
            {% include 'tournament/tournament_info.html' %}
        {% else %}
        <div class="col-span-9 bg-[#f5f5f5] flex flex-col justify-between items-center p-4">
            <p>No tournament joined</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% endif %}