{% extends 'base.html' %}

{% if user.is_authenticated %}

{% block content %}
<style>
    #gameCanvas {
        border: 1px solid black;
    }
</style>
<div class="grid place-items-center mt-16">
    <canvas id="gameCanvas" width="0" height="0"></canvas>
</div>
<script>
    {
        let gameState = 'waiting_for_players';
        const PADDLE_HEIGHT = 100;
        let canvasWidth = -1;
        let canvasHeight = -1;
        const DECORATIVE_LINE_WIDTH = 5;

        const body = document.querySelector('body');
        body.style.overflow = 'hidden';

        const canvas = document.getElementById('gameCanvas');
        const ctx = canvas.getContext('2d');
        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/api/v1/game/'
            + '{{ game.id }}'
            + '/ws/'
        );

        function renderGameDecorativeLines()
        {
            if (canvasWidth === -1 || canvasHeight === -1) {
                return;
            }

            ctx.fillStyle = '#78716c';

            // Draw the middle line
            for (let i = 0; i < canvasHeight; i += 40) {
                // use the DECORATIVE_LINE_WIDTH variable to draw the line
                ctx.fillRect(canvasWidth / 2 - DECORATIVE_LINE_WIDTH / 2, i, DECORATIVE_LINE_WIDTH, 20);
            }

            // Draw the top line
            for (let i = 0; i < canvasWidth; i += 40) {
                // use the DECORATIVE_LINE_WIDTH variable to draw the line
                ctx.fillRect(i, 0, 20, DECORATIVE_LINE_WIDTH);
            }

            // Draw the bottom line
            for (let i = 0; i < canvasWidth; i += 40) {
                // use the DECORATIVE_LINE_WIDTH variable to draw the line
                ctx.fillRect(i, canvasHeight - DECORATIVE_LINE_WIDTH, 20, DECORATIVE_LINE_WIDTH);
            }

            // Draw the left line
            for (let i = 0; i < canvasHeight; i += 40) {
                // use the DECORATIVE_LINE_WIDTH variable to draw the line
                ctx.fillRect(0, i, DECORATIVE_LINE_WIDTH, 20);
            }

            // Draw the right line
            for (let i = 0; i < canvasHeight; i += 40) {
                // use the DECORATIVE_LINE_WIDTH variable to draw the line
                ctx.fillRect(canvasWidth - DECORATIVE_LINE_WIDTH, i, DECORATIVE_LINE_WIDTH, 20);
            }

            // Draw the top left corner
            ctx.fillRect(0, 0, 20, 20);

            // Draw the top right corner
            ctx.fillRect(canvasWidth - 20, 0, 20, 20);

            // Draw the bottom left corner
            ctx.fillRect(0, canvasHeight - 20, 20, 20);

            // Draw the bottom right corner
            ctx.fillRect(canvasWidth - 20, canvasHeight - 20, 20, 20);

            // Draw the middle circle
            ctx.beginPath();
            ctx.arc(canvasWidth / 2, canvasHeight / 2, 100, 0, 2 * Math.PI);
            ctx.stroke();
        } 

        function gameRenderScreen(data) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            ctx.fillStyle = data.customizations.background_color;
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            renderGameDecorativeLines();

            ctx.fillStyle = data.customizations.ball_color;
            ctx.fillRect(data.ball_x, data.ball_y, 10, 10);

            ctx.fillStyle = 'black';
            ctx.fillRect(10, data.player1_y, 10, PADDLE_HEIGHT);

            if (data.is_multi_player) {
                ctx.fillStyle = 'black';
                ctx.fillRect(canvas.width - 20, data.player2_y, 10, PADDLE_HEIGHT);
            }
            else {
                ctx.fillStyle = 'black';
                ctx.fillRect(canvas.width - 20, data.ai_y, 10, PADDLE_HEIGHT);
            }

            ctx.font = '30px Arial';
            // print the scores based on map width
            ctx.fillText(data.player_score, canvas.width / 2 - 50, 50);
            ctx.fillText(data.opp_score, canvas.width / 2 + 50, 50);

            if (data.effected && data.random_power_up) {
                if (data.random_power_up == 'powerup_slow_down_opponent') {
                    ctx.fillStyle = 'blue';
                } else if (data.random_power_up == 'powerup_speed_up_yourself') {
                    ctx.fillStyle = 'green';
                } else if (data.random_power_up == 'powerup_revert_opponent_controls') {
                    ctx.fillStyle = 'red';
                }
                ctx.fillRect(data.random_power_up_x + data.threshold / 2, data.random_power_up_y + data.threshold / 2, data.threshold, data.threshold);
            } else if (!data.effected && data.random_power_up) {
                // text to show the power up
                ctx.fillStyle = 'black';
                ctx.font = '30px Arial';
                ctx.fillText(data.random_power_up, 300, 300);
            }
        }

        function gamePauseScreen(data) {
            ctx.fillStyle = 'black';
            ctx.font = '30px Arial';
            ctx.fillText("Oyun durduruldu.", 300, 300);
        }

        function gameWaitScreen() {
            ctx.fillStyle = 'black';
            ctx.font = '30px Arial';
            ctx.fillText("Oyuncu bekleniyor...", 300, 300);
        }

        function gameIsStartingScreen() {
            let counter = 3;
            const interval = setInterval(() => {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.fillStyle = 'black';
                ctx.font = '30px Arial';
                ctx.fillText(counter, 300, 300);
                counter--;
                if (counter < 0) {
                    clearInterval(interval);
                }
            }, 1000);
        }

        chatSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            data = data.payload.data;
            if (canvasWidth !== data.customizations.map_width || canvasHeight !== data.customizations.map_height) {
                canvasWidth = data.customizations.map_width;
                canvasHeight = data.customizations.map_height;
                canvas.width = canvasWidth;
                canvas.height = canvasHeight;
            }
            /*
                "ball_x": self.ball_x,
                "ball_y": self.ball_y,
                "player_y": self.player_y,
                "ai_y": self.ai_y,
                "opp_score": self.opp_score,
                "player_score": self.player_score,
                "random_power_up": self.random_power_up,
                "random_power_up_x": self.random_power_up_x,
                "random_power_up_y": self.random_power_up_y,
                "is_multiplayer": self.is_multiplayer,
                "state": self.state,
                "treashold": self.treashold,
                "effected": self.effected,
                "customizations": {
                    "ball_color": self.ball_color,
                    "map_width": self.map_width,
                    "map_height": self.map_height,
                    "background_color": self.background_color,
                    "skill_ball_freeze": self.skill_ball_freeze,
                    "skill_ball_speed": self.skill_ball_speed,
                    "powerup_slow_down_opponent": self.powerup_slow_down_opponent,
                    "powerup_speed_up_yourself": self.powerup_speed_up_yourself,
                    "powerup_revert_opponent_controls": self.powerup_revert_opponent_controls
                }
            */

            if (data.state == 'waiting_for_players') {
                gameWaitScreen();
            } else if (data.state == 'game_is_starting' && gameState == 'waiting_for_players') {
                gameIsStartingScreen();
            }
            else if (data.state == 'paused') {
                gamePauseScreen(data);
            } else if (data.state == 'playing') {
                gameRenderScreen(data);
            }
            gameState = data.state;
        };

        let upPressed = false;
        let downPressed = false;

        window.addEventListener('keydown', (e) => {
            if (e.key === 'ArrowUp') {
                upPressed = true;
            } else if (e.key === 'ArrowDown') {
                downPressed = true;
            }
        });

        window.addEventListener('keyup', (e) => {
            if (e.key === 'ArrowUp') {
                upPressed = false;
            } else if (e.key === 'ArrowDown') {
                downPressed = false;
            }
        });

        const interval = setInterval(() => {
            if (upPressed && downPressed) {
                return;
            }
            if (upPressed) {
                chatSocket.send(JSON.stringify({
                    'type': 'move',
                    'direction': 'up'
                }));
            } else if (downPressed) {
                chatSocket.send(JSON.stringify({
                    'type': 'move',
                    'direction': 'down'
                }));
            }
        }, 1000 / 20);

        function cleanup() {
            chatSocket.close();
            body.style.overflow = 'auto';
            clearInterval(interval);
        }

        cleanupFunctions.push(cleanup);
    }
</script>
{% endblock %}

{% endif %}