{% extends 'base.html' %}

{% if user.is_authenticated %}

{% block content %}
<div>
    <input type="hidden" id="room-type" value="{{ type }}">
    <select id="ball-color" class="block w-full mt-4 p-2 border border-gray-300 rounded">
        <option value="blue">Blue Ball</option>
        <option value="red">Red Ball</option>
        <option value="green">Green Ball</option>
    </select>

    <input type="number" id="map-width" class="block w-full mt-4 p-2 border border-gray-300 rounded" placeholder="Map Width" value="800">

    <input type="number" id="map-height" class="block w-full mt-4 p-2 border border-gray-300 rounded" placeholder="Map Height" value="600">

    <input type="color" id="background-color" class="block w-full mt-4 p-2 border border-gray-300 rounded h-8" placeholder="Background Color">

    <label for="skill-ball-freeze">Ball Freeze</label>
    <input type="checkbox" id="skill-ball-freeze" class="block mt-4" value="skill-ball-freeze">
    <label for="skill-ball-speed">Ball Speed</label>
    <input type="checkbox" id="skill-ball-speed" class="block mt-4" value="skill-ball-speed">

    <label for="powerup-slow-down-opponent">Slow Down Opponent</label>
    <input type="checkbox" id="powerup-slow-down-opponent" class="block mt-4" value="powerup-slow-down-opponent">
    <label for="powerup-speed-up-yourself">Speed Up Yourself</label>
    <input type="checkbox" id="powerup-speed-up-yourself" class="block mt-4" value="powerup-speed-up-yourself">
    <label for="powerup-revert-opponent-controls">Revert Opponent's Controls</label>
    <input type="checkbox" id="powerup-revert-opponent-controls" class="block mt-4" value="powerup-revert-opponent-controls">

    <button id="start-game" class="block w-full mt-4 p-2 bg-blue-500 text-white rounded">Create Game Room</button>
</div>

<script>
{
    const startGameButton = document.getElementById('start-game');

    const availableRoomTypes = ['ai', 'multi', 'tournament'];

    startGameButton.addEventListener('click', async () => {
        const ballColor = document.getElementById('ball-color').value;
        const mapWidth = document.getElementById('map-width').value;
        const mapHeight = document.getElementById('map-height').value;
        const backgroundColor = document.getElementById('background-color').value;
        const skillBallFreeze = document.getElementById('skill-ball-freeze').checked;
        const skillBallSpeed = document.getElementById('skill-ball-speed').checked;
        const powerupSlowDownOpponent = document.getElementById('powerup-slow-down-opponent').checked;
        const powerupSpeedUpYourself = document.getElementById('powerup-speed-up-yourself').checked;
        const powerupRevertOpponentControls = document.getElementById('powerup-revert-opponent-controls').checked;

        const room_type = document.getElementById('room-type').value;

        if (!availableRoomTypes.includes(room_type)) {
            alert('Invalid room type');
            return;
        }

        const response = await fetchAPI('/api/v1/game/create/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                room_type: room_type,
                ball_color: ballColor,
                map_width: +mapWidth,
                map_height: +mapHeight,
                background_color: backgroundColor,
                skill_ball_freeze: skillBallFreeze,
                skill_ball_speed: skillBallSpeed,
                powerup_slow_down_opponent: powerupSlowDownOpponent,
                powerup_speed_up_yourself: powerupSpeedUpYourself,
                powerup_revert_opponent_controls: powerupRevertOpponentControls
            })
        });

        const data = await response.json();
        console.log(data);
        if (data.status) {
            setCurrentPath('/game/' + data.data.game_id);
        }
    });
}
</script>
{% endblock %}

{% endif %}